body,
html {
    height: 100%;
    margin: 0;
}




/* Creates a paralax scrolling effect */
.parallax {
    /* Image height */
    height: 60vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-cover {
    /* Overrides Height */
    height: 100vh

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* create centred flex box for text and other items */
    justify-content: center;
    display: flex;
    align-items: center;
    
}

.parallax-text {
    color: #717b7a;
    text-align: center;
    font-size: 36px;
    padding-left: 5vh;
    padding-right: 5vh;
}

.introduction {
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 5vw;
    padding-right: 5vw;
    background-color: #ebefde;
    font-size: 36px;
    color: #717b7a;
}

.nav-button {
    background-color: #babf65;
    font-size: 3.5rem; 
    color: #717b7a;
}


/* For the expanding panels */
.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 30vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: .75s ease-in;
}

.panel.active {
    flex: 5;
  }

/*
#ebefde - off white
#717b7a - dark grey
#b0bbbf - light grey
#babf65 - light green
#6d6f1b - dark green


*/
